<a href="https://colab.research.google.com/github/KanoonGammy/Python-for-investing/blob/All/4_Project_MACD_Parameter_tuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance
!pip install pandas_ta

In [4]:
import pandas_ta as ta
import pandas as pd
import yfinance as yf
import numpy as np

In [5]:
data = yf.download('BTC-USD' , start = '2021-01-01')

[*********************100%***********************]  1 of 1 completed

In [16]:
compare = []
trade_log = []
for i in range(10 , 16) :
  for j in range(20 , 26):

    df = data.copy()
    
    df.ta.macd(fast = i , slow = j , append = True)

    df['signal'] = df.iloc[: , -3] > df.iloc[: , -1]

    signal = df.ta.tsignals(df.signal , asbool = True , append = True)

    df['action_price'] = df.Open.shift(-1)

    trades_table = df.iloc[ : , -5 : ][df.TS_Trades != 0]
    trades_table['return'] = trades_table['action_price'].pct_change()

    trades_summary = trades_table.loc[trades_table.TS_Exits == True]

    a = trades_summary['return']
    trade_log.append(a)

    b = [a.mean() , a.median() , a.min() , (i,j)]

    compare.append(b)

In [19]:
trades_summary

,TS_Trends,TS_Trades,TS_Entries,TS_Exits,action_price,return
Date,,,,,,
2021-02-24 00:00:00+00:00,False,-1,False,True,49709.082031,0.399829
2021-03-21 00:00:00+00:00,False,-1,False,True,57517.890625,0.027781
2021-04-03 00:00:00+00:00,False,-1,False,True,57604.839844,-0.030179
2021-04-18 00:00:00+00:00,False,-1,False,True,56191.585938,-0.115424
2021-05-12 00:00:00+00:00,False,-1,False,True,49735.433594,-0.139910
2021-06-22 00:00:00+00:00,False,-1,False,True,32515.714844,-0.114011
2021-07-16 00:00:00+00:00,False,-1,False,True,31397.308594,-0.094634
2021-08-18 00:00:00+00:00,False,-1,False,True,44741.882812,0.384942
2021-08-24 00:00:00+00:00,False,-1,False,True,47727.257812,-0.032433
2021-09-07 00:00:00+00:00,False,-1,False,True,46827.761719,-0.110761
2021-10-24 00:00:00+00:00,False,-1,False,True,60893.925781,0.265001
2021-11-11 00:00:00+00:00,False,-1,False,True,64863.980469,-0.031206
2022-01-05 00:00:00+00:00,False,-1,False,True,43565.511719,-0.070822
2022-01-21 00:00:00+00:00,False,-1,False,True,36471.589844,-0.153829
2022-02-19 00:00:00+00:00,False,-1,False,True,40118.101562,0.051536
2022-03-06 00:00:00+00:00,False,-1,False,True,38429.304688,-0.110320
2022-04-06 00:00:00+00:00,False,-1,False,True,43207.500000,0.050234
2022-05-05 00:00:00+00:00,False,-1,False,True,36573.183594,-0.078662
2022-06-12 00:00:00+00:00,False,-1,False,True,26737.578125,-0.091562
2022-08-17 00:00:00+00:00,False,-1,False,True,23341.039062,0.085807
2022-09-19 00:00:00+00:00,False,-1,False,True,19545.591797,-0.085668
2022-11-08 00:00:00+00:00,False,-1,False,True,18543.761719,-0.045503
2022-12-19 00:00:00+00:00,False,-1,False,True,16441.787109,-0.004829
2022-12-28 00:00:00+00:00,False,-1,False,True,16552.322266,-0.017214

In [20]:
result = pd.DataFrame(compare , columns = ['Avg Return' , 'Median' , 'Worst Trade Return' , 'MACD Parameter Set']).set_index('MACD Parameter Set')
result

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(10, 20)             -0.004953 -0.033153           -0.143837
(10, 21)             -0.002350 -0.033153           -0.143837
(10, 22)              0.002095 -0.031738           -0.143837
(10, 23)              0.003931 -0.028586           -0.143837
(10, 24)              0.000115 -0.030102           -0.152074
(10, 25)             -0.000700 -0.026299           -0.152074
(11, 20)              0.000575 -0.042010           -0.143837
(11, 21)              0.001703 -0.031738           -0.153829
(11, 22)              0.000323 -0.032788           -0.153829
(11, 23)              0.001830 -0.028670           -0.153829
(11, 24)              0.003123 -0.025359           -0.153829
(11, 25)             -0.000141 -0.024362           -0.153829
(12, 20)              0.000323 -0.032788           -0.153829
(12, 21)              0.001220 -0.030102           -0.153829
(12, 22)              0.000800 -0.028670           -0.153829
(12, 23)              0.003868 -0.024362           -0.153829
(12, 24)              0.004398 -0.024362           -0.153829
(12, 25)              0.001365 -0.024362           -0.153829
(13, 20)              0.004319 -0.030920           -0.153829
(13, 21)              0.001563 -0.026299           -0.153829
(13, 22)              0.003258 -0.024362           -0.153829
(13, 23)              0.003287 -0.023365           -0.153829
(13, 24)             -0.000929 -0.025359           -0.153829
(13, 25)             -0.004202 -0.031448           -0.153829
(14, 20)              0.003513 -0.027238           -0.153829
(14, 21)              0.001455 -0.024362           -0.153829
(14, 22)              0.000135 -0.025359           -0.153829
(14, 23)              0.001523 -0.027238           -0.153829
(14, 24)              0.001037 -0.028243           -0.153829
(14, 25)             -0.002151 -0.032433           -0.153829
(15, 20)             -0.000074 -0.026299           -0.153829
(15, 21)             -0.001511 -0.026299           -0.153829
(15, 22)             -0.002562 -0.027238           -0.153829
(15, 23)              0.001199 -0.028243           -0.153829
(15, 24)              0.001623 -0.038968           -0.153829
(15, 25)             -0.002577 -0.038968           -0.153829

In [21]:
result[result['Median'] == result['Median'].max()]

                    Avg Return    Median  Worst Trade Return
MACD Parameter Set
(13, 23)              0.003287 -0.023365           -0.153829

In [8]:
test = data.copy()
test.ta.macd(fast = 12 , slow = 26 , append = True)
test

,Open,High,Low,Close,Adj Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Date,,,,,,,,,
2021-01-01 00:00:00+00:00,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,NaN,NaN,NaN
2021-01-02 00:00:00+00:00,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,NaN,NaN,NaN
2021-01-03 00:00:00+00:00,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,NaN,NaN,NaN
2021-01-04 00:00:00+00:00,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,NaN,NaN,NaN
2021-01-05 00:00:00+00:00,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-01-15 00:00:00+00:00,20977.484375,20993.748047,20606.986328,20880.798828,20880.798828,19298407543,818.733717,467.973153,350.760564
2023-01-16 00:00:00+00:00,20882.224609,21360.875000,20715.746094,21169.632812,21169.632812,26792494050,956.932641,484.937662,471.994979
2023-01-17 00:00:00+00:00,21175.833984,21438.660156,20978.533203,21161.519531,21161.519531,24999983362,1053.655722,465.328594,588.327128
2023-01-18 00:00:00+00:00,21161.050781,21564.501953,20541.544922,20688.781250,20688.781250,30005625418,1079.717125,393.111998,686.605127
2023-01-19 00:00:00+00:00,20713.824219,20840.500000,20693.292969,20821.031250,20821.031250,29927413760,1098.380993,329.420692,768.960300

In [10]:
test['signal'] = test.iloc[: , -3] > test.iloc[: , -1]

In [11]:
test

,Open,High,Low,Close,Adj Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,signal
Date,,,,,,,,,,
2021-01-01 00:00:00+00:00,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,NaN,NaN,NaN,False
2021-01-02 00:00:00+00:00,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,NaN,NaN,NaN,False
2021-01-03 00:00:00+00:00,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,NaN,NaN,NaN,False
2021-01-04 00:00:00+00:00,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,NaN,NaN,NaN,False
2021-01-05 00:00:00+00:00,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...
2023-01-15 00:00:00+00:00,20977.484375,20993.748047,20606.986328,20880.798828,20880.798828,19298407543,818.733717,467.973153,350.760564,True
2023-01-16 00:00:00+00:00,20882.224609,21360.875000,20715.746094,21169.632812,21169.632812,26792494050,956.932641,484.937662,471.994979,True
2023-01-17 00:00:00+00:00,21175.833984,21438.660156,20978.533203,21161.519531,21161.519531,24999983362,1053.655722,465.328594,588.327128,True
2023-01-18 00:00:00+00:00,21161.050781,21564.501953,20541.544922,20688.781250,20688.781250,30005625418,1079.717125,393.111998,686.605127,True
2023-01-19 00:00:00+00:00,20713.824219,20840.500000,20693.292969,20821.031250,20821.031250,29927413760,1098.380993,329.420692,768.960300,True

In [12]:
signal = test.ta.tsignals(test.signal , asbool = True , append = True)

In [14]:
signal[signal['TS_Trades'] != 0]

                           TS_Trends  TS_Trades  TS_Entries  TS_Exits
Date
2021-02-03 00:00:00+00:00       True          1        True     False
2021-02-24 00:00:00+00:00      False         -1       False      True
2021-03-09 00:00:00+00:00       True          1        True     False
2021-03-21 00:00:00+00:00      False         -1       False      True
2021-04-01 00:00:00+00:00       True          1        True     False
2021-04-04 00:00:00+00:00      False         -1       False      True
2021-04-05 00:00:00+00:00       True          1        True     False
2021-04-06 00:00:00+00:00      False         -1       False      True
2021-04-12 00:00:00+00:00       True          1        True     False
2021-04-18 00:00:00+00:00      False         -1       False      True
2021-04-30 00:00:00+00:00       True          1        True     False
2021-05-12 00:00:00+00:00      False         -1       False      True
2021-05-31 00:00:00+00:00       True          1        True     False
2021-06-21 00:00:00+00:00      False         -1       False      True
2021-06-28 00:00:00+00:00       True          1        True     False
2021-07-15 00:00:00+00:00      False         -1       False      True
2021-07-22 00:00:00+00:00       True          1        True     False
2021-08-17 00:00:00+00:00      False         -1       False      True
2021-08-21 00:00:00+00:00       True          1        True     False
2021-08-24 00:00:00+00:00      False         -1       False      True
2021-09-06 00:00:00+00:00       True          1        True     False
2021-09-07 00:00:00+00:00      False         -1       False      True
2021-10-01 00:00:00+00:00       True          1        True     False
2021-10-24 00:00:00+00:00      False         -1       False      True
2021-11-09 00:00:00+00:00       True          1        True     False
2021-11-12 00:00:00+00:00      False         -1       False      True
2021-12-19 00:00:00+00:00       True          1        True     False
2022-01-04 00:00:00+00:00      False         -1       False      True
2022-01-14 00:00:00+00:00       True          1        True     False
2022-01-21 00:00:00+00:00      False         -1       False      True
2022-01-29 00:00:00+00:00       True          1        True     False
2022-02-18 00:00:00+00:00      False         -1       False      True
2022-02-28 00:00:00+00:00       True          1        True     False
2022-03-06 00:00:00+00:00      False         -1       False      True
2022-03-16 00:00:00+00:00       True          1        True     False
2022-04-05 00:00:00+00:00      False         -1       False      True
2022-05-04 00:00:00+00:00       True          1        True     False
2022-05-05 00:00:00+00:00      False         -1       False      True
2022-05-20 00:00:00+00:00       True          1        True     False
2022-06-12 00:00:00+00:00      False         -1       False      True
2022-06-25 00:00:00+00:00       True          1        True     False
2022-08-06 00:00:00+00:00      False         -1       False      True
2022-08-08 00:00:00+00:00       True          1        True     False
2022-08-17 00:00:00+00:00      False         -1       False      True
2022-09-09 00:00:00+00:00       True          1        True     False
2022-09-18 00:00:00+00:00      False         -1       False      True
2022-09-28 00:00:00+00:00       True          1        True     False
2022-10-12 00:00:00+00:00      False         -1       False      True
2022-10-13 00:00:00+00:00       True          1        True     False
2022-10-15 00:00:00+00:00      False         -1       False      True
2022-10-16 00:00:00+00:00       True          1        True     False
2022-11-08 00:00:00+00:00      False         -1       False      True
2022-11-24 00:00:00+00:00       True          1        True     False
2022-12-19 00:00:00+00:00      False         -1       False      True
2022-12-26 00:00:00+00:00       True          1        True     False
2022-12-27 00:00:00+00:00      False         -1       False      True
2023-01-03 00:00:00+00:00       True          1        True     False